html{
    background-color: cornsilk;
}
 body{
    background-color: rgba(0, 255, 255, 0.455);
    width: 80%;
    height: 88%;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-radius: 9px 9px 9px 9px;

}

.regLbl{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif   ;    
    position: relative;
    display: inline-block;
}


.center{
    display: flex;
    flex-flow: row;
    
 margin-left: auto;   
 margin-right: auto;
 border-style: solid;
 border-color: blueviolet;

 
}
button_show{
    margin-left: auto;   
 margin-right: auto;
 
 
}