html{
    background-color: cornsilk;
}
 body{
    background-color: rgba(0, 255, 255, 0.455);
    width: 80%;
    height: 88%;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-radius: 9px 9px 9px 9px;

}

.regLbl{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif   ;    
    position: relative;
    display: inline-block;
}


.center{
    display: flex;
    flex-flow: row;
    
 margin-left: auto;   
 margin-right: auto;
 border-style: solid;
 border-color: blueviolet;

 
}
button_show{
    margin-left: auto;   
 margin-right: auto;
 
 
}
.thePlates{
    width: 145px;
    height: 45px;
    border-radius:9px;
    background-color: rgba(184, 129, 17, 0.962);
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
    visibility: visible;

}
.plate-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.Lengths{
    width: 300px;
    height: 65px;
    border-style: solid;
    border-color: blueviolet;
}

.error_out{
    color: brown;
    min-height: 150px;
}